.header {
  display: flex;
  padding-block: 10px;
  align-self: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  max-block-size: 80px;
  inline-size: 100vw;
}

.content {
  display: flex;
  white-space: nowrap;
  max-inline-size: 922px;
}

.headerLogo {
  display: flex;
  align-self: center;
  margin-block-start: 12px;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 14px;
  font-family: 'Roboto';
  margin-inline-start: 20px;
  inline-size: 46vw;
}

.description {
  font-size: 20px;
}

.navMenu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.navListItem {
  transition: color 0.3s ease;
}

.navMap {
  display: flex;
  position: relative;
}

.navMap::after, .navMap:hover::after {
  display: flex;
  position: absolute;
  content: 'Скоро';
  top: 30px;
  right: -34px;
  color: #000;
  inline-size: 105px;
  block-size: 48px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navMap:hover::after {
  opacity: 1;
}

.navListItem_dropdown {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navListItem:hover,
.arrow:hover {
  color: #b5b5b5;
}

.navListItem:focus-visible {
  border-bottom: 1px solid #000;
}

.contentRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  inline-size: 35vw;
}

.account {
  display: flex;
  gap: 6px;
  margin-block-end: 12px;
  margin-inline-end: clamp(14px, 2vw, 18px);
}

.profileIcon {
  margin-block-end: 2px;
}

.accountText {
  font-size: 12px;
  line-height: normal;
  align-self: end;
}

.search {
  display: flex;
  gap: 10px;
  align-self: stretch;
}

.searchBar {
  display: flex;
  max-inline-size: 230px;
  max-block-size: 40px;
  background-color: #eaeaea;
  border: none;
  border-radius: 50px;
  padding: 12px 18px;
  font-size: 12px;
  align-self: stretch;
  flex-grow: 1;
}

.searchBar::placeholder {
  color: #8e8e8e;
}

.searchButton {
  max-inline-size: 90px;
  max-block-size: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-family: 'Roboto';
  padding: 12px clamp(18px, 2vw, 20px);
  transition: background-color 0.5s ease;
  font-size: 12px;
}

.searchButton:hover {
  background-color: #4a4949;
}

.searchBar:focus-visible,
.searchButton:focus-visible,
.navListItem:focus-visible {
  outline: none;
}

.headerLogo,
.navListItem,
.searchButton {
  cursor: pointer;
}
/* 
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */
