.main {
  display: flex;
  padding-block: 20px;
  justify-content: center;
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: #fff;
  border-radius: 20px;
  inline-size: 557px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
}

.title {
  font-size: 32px;
  margin-block-end: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.inputBlock {
  display: flex;
  position: relative;
  background-color: #EAEAEA;
  border-radius: 30px;
  padding: 20px 24px;
  border: none;
  margin-block: 12px;
  font-family: 'Roboto';
}

.input, .input::placeholder, .loginFormButton, .additionalLink {
  font-size: 16px;
}

.input {
  background-color: inherit;
  border: none;
  inline-size: 90%;
  padding: 0;
}

.input::placeholder {
  color: #8e8e8e;
}

.input:focus-visible {
  outline: none;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: inherit;
  /* -webkit-box-shadow: 0 0 0 1000px #EAEAEA inset; */
  font-size: 16px;
}

.showHidePasswordButton {
  display: flex;
  position: absolute;
  align-self: center;
  margin-inline-end: 48px;
  cursor: pointer;
  right: -24px;
}

.loginFormButton {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-family: 'Roboto';
  max-inline-size: 300px;
  padding: 20px 24px;
  transition: background-color 0.5s ease;
  margin-block-start: 12px;
  cursor: pointer;
}

.loginFormButton:hover {
  background-color: #4A4949;
}

.loginForm:disabled {
  cursor: default;
}

.additionalLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-start: 24px;
}

.additionalLink {
  color: #1045FF;
}

.additionalLink:hover {
  color: #7291FF;
}

.error {
  color: #f00;
  margin-block: 4px;
  margin-inline-start: 24px;
}
