.main {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.confirmEmailPage, .confirmEmailForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.confirmEmailPage {
  background-color: #fff;
  padding: 32px;
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
  max-inline-size: 348px;
}

.title {
  font-size: 32px;
  margin-block-end: 8px;
  white-space: nowrap;
}

.inputBlock {
  display: flex;
  background-color: #EAEAEA;
  border-radius: 30px;
  padding: 20px 24px;
  border: none;
  font-family: 'Roboto';
}

.input,
.input::placeholder,
.confirmEmailButton,
.additionalLink {
  font-size: 16px;
  font-family: 'Roboto';
}

.input {
  background-color: inherit;
  border: none;
  inline-size: 90%;
  padding: 0;
}

.input::placeholder {
  color: #8e8e8e;
}

.input:focus-visible {
  outline: none;
}

.confirmEmailButton {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-family: 'Roboto';
  padding: 20px 24px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  flex-grow: 1;
}

.confirmEmailButton:hover {
  background-color: #4a4949;
}

.confirmEmailButton:disabled {
  background-color: #D1D1D1;
  transition: none;
  cursor: default;
}

.additionalLink {
  color: #1045ff;
  cursor: pointer;
}

.additionalLink:hover {
  color: #7291FF;
}

.error {
  color: #f00;
  margin-block: 4px;
  margin-inline-start: 24px;
}
