.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-block: 24px;
  inline-size: clamp(315px, calc(100vw - 50px), 922px);
}

.title {
  font-size: 24px;
  margin-block-end: 24px;
}

.searchResultsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
